<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="za.co.endevour.www">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
<!--    Todo testfingerprint-->
    <application
            android:allowBackup="false"
            android:fullBackupContent="false">
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
